* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 13px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

.border {
	position: relative;
	z-index: 10000;
}

.wraper {
	margin: 0 auto;
	font-size: 13px;
	max-width: 1245px;
}

.border .top,
.border .bottom {
	position: fixed;
	width: 100%;
	height: 20px;
	background-color: #bbb;
}

.border .top {
	top: 0;
	left: 0;
}

.border .bottom {
	bottom: 0;
	left: 0;
}

.border .left,
.border .right {
	position: fixed;
	width: 20px;
	height: 100vh;
	background-color: #bbb;
}

.border .left {
	top: 0;
	left: 0;
}

.border .right {
	right: 0;
	top: 0;
}

header {
	height: 100vh;
	background-image: url('../img/banner-image-1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	font-size: 1em;
	padding: 25px 15px;
	overflow: hidden;
}

.wraperMainNav {
	height: 70px;
	width: 100%;
}

.mainNav {
	line-height: 70px;
	transform: translateY(0);
	transition: 0.7s;
}

.mainNav aside {
	float: right;
}

.mainNav .logo {
	float: left;
}

img.logo {
	height: 25px;
	margin-right: 100px;
	margin-top: 15px;
}

nav {
	display: inline-block;
	margin-left: 75px;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
}

nav ul li a {
	color: #666;
	text-decoration: none;
	/* box-shadow: 0 3px #fff; */
}

nav ul li a:hover {
	color: #aaa;
	/* box-shadow: 0 5px #d2b356; */
}

.active {
	border-bottom: 3px solid #d2b356;
}

.activeMedia {
	color: #d2b356;
}

.mainSocialMedia,
.footerSocialMedia {
	display: inline-block;
}

.mainSocialMedia li,
.footerSocialMedia li {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}

.mainSocialMedia li a,
.footerSocialMedia li a {
	color: #111;
	font-size: 15px;
}

.mainSocialMedia li a:hover,
.footerSocialMedia li a:hover {
	color: #aaa;
}

li.burger,
li.burgerHidden {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 22px;
	display: none;
}

.moveNav {
	transform: translateY(-100px);
}

.fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 20px;
	margin: 0 auto;
	width: 100%;
	max-width: 1245px;
	background-color: #fff;
	z-index: 1000;
	/* border-bottom: 1px solid #ddd; */
	transform: translateY(0);
}

.underline {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 94px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	display: none;
	z-index: 999;
}

h1 {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 62px;
	line-height: 60px;
	font-weight: 800;
	width: 35%;
	margin-top: 10%;
	color: #111;
	text-align: left;
}

header h1::before {
	content: "";
	display: block;
	margin-bottom: 20px;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

h2 {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 1.5em;
	color: #111;
	width: 35%;
	margin-top: 5%;
	font-weight: 300;
	text-align: left;
}

header h2::after {
	content: "";
	display: block;
	margin-top: 20px;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

.button {
	font-size: 16px;
	color: #111;
	background-color: #fff;
	border: 3px solid #111;
	padding: 15px 20px;
	margin-top: 15%;
	margin-bottom: 15%;
	cursor: pointer;
	font-weight: bold;
}

.button:hover {
	border-color: #d2b356;
	color: #d2b356;
}

/* end section header */
#about,
#gallery,
#services,
#testimonials,
#clients,
#pricing {
	padding-top: 15%;
	padding-bottom: 5%;
}

.mainDiv {
	width: 30%;
	float: left;
	padding: 0 10px 50px 0;
}

.contentsDiv {
	overflow: hidden;
}

h3,
.sectionParagraph {
	color: #ccc;
	font-size: 1.2em;
	letter-spacing: 2px;
}

.sectionTitle {
	width: 100%;
	padding-bottom: 15px;
	font-size: 34px;
	font-weight: 700;
	color: #111;
}

#about h2.sectionTitle::after {
	content: "";
	display: block;
	margin-top: 30px;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

.sectionParagraph {
	color: #9c9c9c;
	/* font-size: 16px; */
	font-weight: 300;
	margin-top: 25px;
}

.box {
	float: left;
	width: 35%;
	margin-left: 75px;
	padding: 10px;
	transform: translateY(100vh);
	transition: 1s;
}

div.box:nth-child(2) {
	transition-delay: 0.1s;
}

iv.box:nth-child(3) {
	transition-delay: 0.2s;
}

iv.box:nth-child(4) {
	transition-delay: 0.3s;
}

.showArticle {
	transform: translateY(0);
}

#about .fas,
#about .fab {
	color: #d2b356;
	font-size: 30px;
	margin-bottom: 20px;
}

.box h4 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.box p {
	font-size: 1.1em;
	margin-bottom: 55px;
}

/* end section about */
#gallery {
	margin-bottom: 10%;
}

div.images:nth-child(1) {
	background-image: url('../img/gallery-image-1.jpg');
}

div.images:nth-child(2) {
	background-image: url('../img/gallery-image-2.jpg');
	transition-delay: 0.1s;
}

div.images:nth-child(3) {
	background-image: url('../img/gallery-image-3.jpg');
	transition-delay: 0.2s;
}

div.images:nth-child(4) {
	background-image: url('../img/gallery-image-4.jpg');
	transition-delay: 0.3s;
}

div.images:nth-child(5) {
	background-image: url('../img/gallery-image-5.jpg');
	transition-delay: 0.4s;
}

div.images:nth-child(6) {
	background-image: url('../img/gallery-image-6.jpg');
	transition-delay: 0.5s;
}

.images {
	float: left;
	width: 33%;
	height: 25vh;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	transform: scale(0);
	transition: .4s linear;
}

div.imges:nth-child(2) {
	transition-delay: 1s;
}

.images.showImage {
	transform: scale(1);
}


.images p {
	text-align: center;
	background-color: black;
	height: 25vh;
	opacity: 0;
	transition: 1s;
}

.images p i {
	color: #d2b356;
	font-size: 30px;
	line-height: 25vh;
}

div.images:hover {
	background-size: 130% 130%;
}

div.images p:hover {
	opacity: 0.5;
}

/* end section gallery */
#services {
	display: flex;
	justify-content: space-around;
}

.item {
	flex-basis: 30%;
}

.item img {
	width: 90%;
}

#services .col-1 {
	text-align: right;
	color: #111;
	font-size: 1.5em;
}

.col-1 cite {
	display: block;
	padding-top: 15px;
	font-size: 0.9rem;
	font-weight: normal;
}

#services h2.sectionTitle::after {
	content: "";
	display: block;
	margin-top: 30px;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

.col-2 .first {
	padding-top: 20px;
	padding-bottom: 25px;
	color: #9c9c9c;
	font-size: 1.2em;
}

.col-2 p {
	padding-top: 25px;
	font-size: 1.1em;
}

.col-2 .button {
	padding: 10px 20px;
	margin-top: 12%;
}

.button i {
	margin-left: 10px;
}

/* end section services */

#testimonials {
	text-align: center;
}

#testimonials .sectionTitle {
	text-align: center;
	margin-top: 1%;
}

#testimonials h2.sectionTitle::after {
	content: "";
	display: block;
	margin-top: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

.content-testimonials {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}

.content-testimonials img {
	width: 40%;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-60%);
	border-radius: 50%;
}

.content-testimonials q {
	display: inline-block;
	font-size: 1.2em;
	color: #111;
	padding-top: 20px;
}

#testimonials q::after {
	content: "";
	display: block;
	margin-top: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

.content-testimonials p {
	/* font-size: 1.2em; */
	color: #111;
	margin-top: 25px;
	padding-top: 0;
	font-size: 1em;
}

/* end section testimonials */

#clients {
	display: flex;
	justify-content: flex-start;
}

#clients .col-2 {
	flex-basis: 70%;
	/*dla dzieci*/
	display: flex;
	flex-wrap: wrap;
}

#clients .col-2 .client {
	width: 33%;
	height: 20vh;
}

#clients h2.sectionTitle::after {
	content: "";
	display: block;
	margin-top: 30px;
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

div.client {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

div.client:nth-child(1) {
	background-image: url('../img/company-logo1.png');
}

div.client:nth-child(2) {
	background-image: url('../img/company-logo2.png');
}

div.client:nth-child(3) {
	background-image: url('../img/company-logo3.png');
}

div.client:nth-child(4) {
	background-image: url('../img/company-logo4.png');
}

div.client:nth-child(5) {
	background-image: url('../img/company-logo5.png');
}

div.client:nth-child(6) {
	background-image: url('../img/company-logo6.png');
}

div.client:nth-child(7) {
	background-image: url('../img/company-logo7.png');
}

div.client:nth-child(8) {
	background-image: url('../img/company-logo8.png');
}

div.client:nth-child(9) {
	background-image: url('../img/company-logo9.png');
}

.client p {
	display: block;
	text-align: center;
	background-color: black;
	line-height: 20vh;
	padding-top: 0;
	opacity: 0;
	transition: 0.5s;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

div.client p:hover {
	opacity: 0.8;
}

/* end section clients */

#pricing {
	text-align: center;
	background-color: #f5f5f5;
}

#pricing .sectionTitle {
	text-align: center;
	margin-top: 1%;

}

#pricing h2.sectionTitle::after {
	content: "";
	display: block;
	margin-top: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 5px;
	background-color: #d2b356;
}

.content-pricing {
	display: flex;
	justify-content: space-between;
	max-width: 1245px;
	margin: 0 auto;
	padding-top: 50px;
}

.pricing-col1,
.pricing-col2,
.pricing-col3 {
	flex-basis: 30%;
	background-color: #fff;
	padding: 25px 0;
	margin: 0 25px;
	border: 10px solid #fff;
	transition: all 0.2s ease-in-out 0s;
}

.pricing-title {
	color: #111;
}

.pricing-version {
	color: #ccc;
	font-style: italic;
}

.pricing-price {
	background-color: #f5f5f5;
	margin: 30px 10px;
}

.pricing-price p:first-child {
	padding-top: 25px;
	margin-bottom: -20px;
	margin-left: -75px;
	font-size: 1em;
	font-weight: 700;
}

.pricing-price p:nth-child(2) {
	font-size: 50px;
	font-weight: 700;
}

.pricing-content {
	color: #ccc;
	font-style: italic;
	padding: 0 20px 25px;
}

.pricing-col1 .pricing-title,
.pricing-col2 .pricing-title,
.pricing-col3 .pricing-title {
	padding-top: 25px;
}

.pricing-col1 ul,
.pricing-col2 ul,
.pricing-col3 ul {
	list-style: none;
}

.pricing-col1 ul li,
.pricing-col2 ul li,
.pricing-col3 ul li {
	padding: 20px 0;
}

.pricing-col1 .button,
.pricing-col2 .button,
.pricing-col3 .button {
	margin-bottom: 7%;
}

.pricing-col2 .pricing-price {
	background-color: #d2b356;
	color: #fff;
}

.pricing-col2 .pricing-content {
	color: #fff;
}

.pricing-col1:hover {
	border: 10px solid #d2b356;
}

.pricing-col2:hover {
	border: 10px solid #d2b356;
}

.pricing-col3:hover {
	border: 10px solid #d2b356;
}

/* end section pricing */
footer {
	height: 50px;
	max-width: 1245px;
	margin: 0 auto;
	padding-top: 10px;
}

footer ul {
	float: right;
	/* margin-right: 20px; */
	padding: 20px;
	margin-bottom: 20px;
}

footer p {
	float: left;
	/* margin-left: 20px; */
	padding: 20px;
}

.arrow {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 40px;
	bottom: 40px;
	background-color: #ccc;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	transform: translateY(100px);
	transition: 0.3s;
}

.arrow a {
	text-decoration: none;
	color: #fff;
}

.arrow:hover {
	transform: translateY(-10px);
}

.showArrow {
	transform: translateY(0);
}

/* slider */
.modal-wrap {
	display: none;
}

.showSlider {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1001;
}

.modal-wrap.showSlider .modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 98%;
	/* border: 2px solid #000; */
}

.modal .bottom {
	flex-basis: 10%;
	position: relative;
	background-color: #111;
}

.modal .top {
	flex-grow: 1;
	/* background-color: #fff; */
}

.next,
.prev,
.hidden {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.next,
.hidden {
	right: 4%;
}

.prev {
	left: 4%;
}

.hidden {}

.description {
	display: block;
	font-size: 1.5em;
	padding: 2.5%;
	font-weight: 300;
	color: #fff;
}

.image {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.image img {
	/* width: 80%; */
	height: 60%;
}